# TimeTableChain environment variables
STACKS_NETWORK=testnet
STACKS_API_URL=https://api.testnet.hiro.so
CONTRACT_ADDRESS=
CONTRACT_NAME=timetablechain
SHOW_ANALYTICS=true
TEACHER_AUTH_REQUIRED=true
MAX_SLOTS_PER_TEACHER=100
GOVERNANCE_LOGGING=true
SHOW_GOVERNANCE_PARAMS=true
SNAPSHOT_ENABLED=true
AUTO_SNAPSHOT_INTERVAL=100
REPORTING_MODE=on-chain
TIER_SYSTEM_ENABLED=true
TIER_BRONZE_MIN=0
TIER_SILVER_MIN=5
TIER_GOLD_MIN=10
MARKETPLACE_ANALYTICS_ENABLED=true
SHOW_ACTIVE_SLOTS=true
SHOW_MARKET_SUMMARY=true
EMERGENCY_PAUSE_ENABLED=true
PAUSE_LOGGING=true
PAUSE_ALERT_ENABLED=true
PERFORMANCE_TRACKING=true
UPTIME_DISPLAY=true
TX_COUNT_ENABLED=true
ACCESS_CONTROL_ENABLED=true
ADMIN_ROLE_LOGGING=true
SLOT_VALIDATION_ENABLED=true
DEFAULT_MIN_DURATION=1
DEFAULT_MAX_DURATION=100
SLOT_PRICING_ENABLED=true
DEFAULT_SLOT_PRICE=1000
PROFILE_ENABLED=true
TEMPLATE_ENABLED=true
